*{
  margin: 0
}
.container {
    width: 100%;
    margin: 0 auto;
  }
.main{
  padding-top: 30px;
  background-color: #fdeaaa;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
.main img{
  height: 500px;
}
.context{
  width: 60%;
}
.context p{
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.footer p{
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  margin-left: 20px;
  line-height: 30px;
}
.footer{
  display: flex;
  background-color: #e4f3c6;
  padding: 20px 0;
}
.contact-box{
  width: 38%;
}
.contact-box p{
  text-align: center;
  font-size: 22px;
}
.contact{
  text-align: left;
  margin-left: 30%;
  margin-top: 5%;
  line-height: 40px;
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}