.user-profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-profile-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
  }
  
  .user-profile-container input[type="text"],
  .user-profile-container input[type="password"] {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .update {
    display: block;
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .update:hover {
    background-color: #45a049;
  }
  
  .delete {
    display: block;
    font-size: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #c70b0b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete:hover {
    background-color: #bc5454;
  }
  